
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-light">Use the below form to Update an account</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="emp_id" class="text-light">Employee_ID</label>
            <input type="text" name="emp_id" value="<%= user.emp_id %>" placeholder="" />
          </div>
        <div class="form-group">
            <label for="fname" class="text-light">First_Name</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="fname" value="<%= user.fname %>" placeholder="Mark">
        </div>
        <div class="form-group">
            <label for="lname" class="text-light">Last_Name</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="lname" value="<%= user.lname %>" placeholder="Stoenis">
        </div>
        
        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" <%= user.gender == 'Male' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female"  <%= user.gender == 'Female' ? 'checked' : '' %> >
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>
        <div class="form-group">
            <label for="dob" class="text-light">Date_Of_Birth</label>
            <input type="text" name="dob" value="<%= user.dob %>" placeholder="">
        </div>
        <div class="form-group">
            <label for="email" class="text-light">Email</label>
            <input type="text" name="email" value="<%= user.email %>" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="aadhaar_id" class="text-light">Aadhaar_ID</label>
            <input type="text" name="aadhaar_id" value="<%= user.aadhaar_id %>" placeholder="" />
          </div>
          <div class="form-group">
            <label for="voter_id" class="text-light">Voter_ID</label>
            <input type="text" name="voter_id" value="<%= user.voter_id %>" placeholder="" />
          </div>
          <div class="form-group">
            <label for="account_no" class="text-light">Account_No</label>
            <input type="text" name="account_no" value="<%= user.account_no %>" placeholder="" />
          </div>
          <div class="form-group">
            <label for="ifsc_code" class="text-light">IFSC_Code</label>
            <input type="text" name="ifsc_code" value="<%= user.ifsc_code %>" placeholder="" />
          </div>
          <div class="form-group">
            <label for="doj" class="text-light">Date_Of_Joining</label>
            <input type="text" name="doj" value="<%= user.doj %>" placeholder="" />
          </div>
          <div class="form-group">
            <label for="designation" class="text-light">Designation</label>
            <input type="text" name="designation" value="<%= user.designation %>" placeholder="" />
          </div>
          <div class="form-group">
            <label for="joining_loc" class="text-light">Joining_Location</label>
            <input
              type="text"
              name="joining_loc"
              value="<%= user.joining_loc %>"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="doex" class="text-light">Date_Of_Exit</label>
            <input type="text" name="doex" value="<%= user.doex %>" placeholder="" />
          </div>
          <div class="form-group">
            <label for="lid" class="text-light">Last_Increament_Date</label>
            <input type="text" name="lid" value="<%= user.lid %>" placeholder="" />
          </div>
          <div class="form-group">
            <label for="ldes" class="text-light">Last_Designation</label>
            <input type="text" name="ldes" value="<%= user.ldes %>" placeholder="" />
          </div>
          <div class="form-group">
            <label for="ff_stat" class="text-light">F&F_Status</label>
            <div class="radio inline">
              <input type="radio" id="radio-4" name="ff_stat" value="Yes" <%= user.ff_stat == 'Yes' ? 'checked' : '' %> />
              <label for="radio-4" class="radio-label">Yes</label>
            </div>
            <div class="radio inline">
              <input type="radio" id="radio-5" name="ff_stat" value="No" <%= user.ff_stat == 'No' ? 'checked' : '' %> />
              <label for="radio-5" class="radio-label">No</label>
            </div>
          </div>

        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="status" value="Active" <%= user.status == 'Active' ? 'checked' : '' %> >
                <label for="radio-6" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-7" name="status" value="Inactive" <%= user.status == 'Inactive' ? 'checked' : '' %> >
                <label for="radio-7" class="radio-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
